.shop-more
    hr.hr
    .section-1-content-1
        p.text-main A Conscious Commitment
        p
            | Sustainable changes for right now. A new uniform made using
            | recycled yarns, responsible wools, vegetable-tanned leathers and innovative water saving techniques..
        ul.nav__list-bottom
            li.nav__item-bottom.outmore
                a(href='/sustainability-information') FIND OUT MORE
.section-1
    hr.hr
    .section-1-content-2
        .section-1-content-2-left
            p.text-main
                | New to Rubaccine? Sign up for 15% off full-price styles in your
                | first order.
        .section-1-content-2-right
            p.text-thiny.hidden
                | Sign up to receive exclusive updates on our new collections and
                | special offers. To improve your experience we may; profile,
                | segment, test, analyse and model your details. You can unsubscribe
                | at any time via the link in your emails. Please refer to our
                strong Privacy Policy
                |  for further details.
            .email-parent
                //-footer-newsletter-email111 was footer-newsletter-email1 BUG
                input#footer-newsletter-email111.footer-newsletter-form__input(type='text' value='' name='email' aria-describedby='footer-disclaimer' placeholder='Email Address' aria-label='Enter email address' data-mailcheck='Did you mean' data-prev-value='')
                .parent-bottom
                    a.input-email-parent(href='#') WOMENWEAR
                    a.input-email-parent(href='#') MANWEAR
            .thinyAlert.hidden
                p.errorEmailRegisted
                | WE RECOGNISE THIS EMAIL ADDRESS. YOU HAVE ALREADY SUBSCRIBED
    hr.hr1
    .footer
        .footer-info
            .footer-info-container
                .footer-info-container-left
                    .footer-info-container-left-info1
                        ul.nav__list-footer
                            li.nav__item-footer-a
                                a(href='#') INFORMATION
                            svg.icon-footer.icon-hidden.footer-first
                                use#dario1(href='/img/sprite.svg#icon-keyboard_arrow_down')
                    hr.hr2
                    #footerUp_1.footer-info-container-left-info2.active-link
                        ul.nav__list-footer-2.operations__tab--active
                            li.nav__item-footer
                                a(href='#') Contact Us
                            li.nav__item-footer
                                a(href='#') Delivery
                            li.nav__item-footer
                                a(href='#') Returns &amp; Exchange
                            li.nav__item-footer
                                a(href='#') FAQs
                            li.nav__item-footer
                                a(href='#') Size Guide
                            li.nav__item-footer
                                a(href='#') Careers
                            li.nav__item-footer
                                a(href='#') Stores
                            li.nav__item-footer
                                a(href='#') Sustainability
                .footer-info-container-right
                    .footer-info-container-left-info1
                        ul.nav__list-footer.previeweEl
                            li.nav__item-footer-a
                                a(href='#') &nbsp;
                    #footerUp_11.footer-info-container-left-info2.active-link
                        ul.nav__list-footer-2
                            li.nav__item-footer
                                a(href='#') Accesssibility
                            li.nav__item-footer
                                a(href='#') Klarna
                            li.nav__item-footer
                                a(href='#') Terms &amp; Conditions
                            li.nav__item-footer
                                a(href='#') Privacy Policy
                            li.nav__item-footer
                                a(href='#') Tax Strategy
                            li.nav__item-footer
                                a(href='#') Modern Slavery Act
                            li.nav__item-footer
                                a(href='#') Gender Pay Gap
                            li.nav__item-footer
                                a(href='#') Site Map
        .footer-icon
            .footer-icon-container
                .footer-icon-container-left
                    .footer-info-container-left-info1
                        ul.nav__list-footer
                            li.nav__item-footer-a
                                a(href='#') DOWNLOAD OUR APP
                            // 😃 ADD icon-footer-rotation class to Rotate
                            svg.icon-footer.icon-hidden.footer-second
                                use(href='/img/sprite.svg#icon-keyboard_arrow_down')
                    hr.hr2
                    // 1020px  😃 REMOVE VISIBILITY TO SEE
                    #footerUp_2.footer-info-container-left-info2.active-link
                        img.appStore(src='/img/App_Store_(iOS)-Badge-Logo.wine.svg' alt='app store')
                // <hr class="hr2">
                // <div class="footer-icon-container-right"></div>
                .footer-info-container-right
                    .footer-info-container-left-info1
                        ul.nav__list-footer
                            li.nav__item-footer-a
                                a(href='#') FOLLOW US
                            // 😃 ADD icon-footer-rotation class to Rotate
                            svg.icon-footer.icon-hidden.footer-third
                                use(href='/img/sprite.svg#icon-keyboard_arrow_down')
                    hr.hr2
                    // 1020px  😃 REMOVE VISIBILITY TO SEE
                    #footerUp_3.footer-info-container-left-info2.active-link
                        ul.nav__list-footer-2
                            li.nav__item-footer
                                a(href='#') Instagram
                            li.nav__item-footer
                                a(href='#') Facebook
                            li.nav__item-footer
                                a(href='#') Twitter
                            li.nav__item-footer
                                a(href='#') Youtube
                            li.nav__item-footer
                                a(href='#') Pinterest

.copyright
    p Copyright&copy;Dario Amade 2021


