extends base

block append head
    //- script(src='/js/mapbox.js')

block content
    .go-to-be-back
        .back-container
            img.back-image(src='/img/back2.jpg' alt='outlet')
    .go-to-be-back-1
        p.text-main
            | It's Good To Be Back
        p
            | Stores in England, Scotland & Wales are now open. We’re excited to welcome you back and share
            | our brand new Spring collection. To make sure you have the best experience possible,
            | we’ll be doing all we can to keep our customers and teams safe.
        .campaign-btn
                a.as_cta--button(href=`/store-locator`)
                    button.button FIND STORE
   
    .go-to-be-back-2
        .go-to-be-back-item-container
            .go-to-be-back-item1
                img.back-image(src='/img/store.jpg' alt='outlet')
            .go-to-be-back-item2
                p.text-main
                    Limiting Numbers
                p
                    | We’re maintaining social distancing, and limiting
                    | the number of customers permitted
                    | in our stores at any one time.
            .go-to-be-back-item3
                p.text-main
                    | Safety For All
                p
                    | Our teams will be equipped with masks and gloves.
                    | We ask you to take precautions too. So please wear
                    | iyour mask, and if you forget your hand sanitiser -
                    | there’ll be stations throughout the store.
            .go-to-be-back-item4
                img.back-image(src='/img/store1.jpg' alt='outlet')
            .go-to-be-back-item1
                img.back-image(src='/img/store2.jpg' alt='outlet')
            .go-to-be-back-item2
                p.text-main
                    Limiting Constant Cleaning
                p
                    | You’ll see us cleaning throughout the day,
                    | paying especially close attention to payment areas,
                    | card machines and cash desks.
            .go-to-be-back-item3
                p.text-main
                    | Fitting Rooms
                p
                    
                    | We're committed to creating a safe environment for all.
                    | Extra precautions will be taken to ensure our fitting rooms can be
                    | opened safely, unless restricted by government guidelines.
                    | If you need help please ask a team member for details in store.
            .go-to-be-back-item4
                img.back-image(src='/img/pic-5.jpg' alt='outlet')
            .go-to-be-back-item1
    .go-to-be-back-1
        .campaign-btn
            a.as_cta--button(href=`/store-locator`)
                button.button FIND STORE
        

      






