extends base

block content
    .error-page
        p.fine
            | SORRY
        p.fine-secondary
            | We couldn&apos;t find what you were looking for. You may have clicked on an out-of-date link, or
            | perhaps you accidentally mistyped a URL. Looking for
            | something? Try searching using the categories below.
        //-p.fine-secondary= msg 
        .error-page-links
            ul.nav__list-preview
                p.nav-bold-border WOMEN
                li.nav__item-preview
                    a#nav__item-preview(href='/women/new') New Arrivals
                li.nav__item-preview
                    a#nav__item-preview(href='#') Best Sellers
                li.nav__item-preview
                    a(href='#')  Loungewear
                li.nav__item-preview
                    a(href='/men/best-seller') Best Sellers
                li.nav__item-preview
                    a(href='#') Gifts For Her
                li.nav__item-preview
                    a(href='#') Gifts For Him
                li.nav__item-preview
                    a(href='#') Gift Cards
                li.nav__item-preview
                    a(href='#') Sale
                li.nav__item-preview
                    a(href='#') Outlet
                li.nav__item-preview
                    a(href='#') Dresses
                li.nav__item-preview
                    a(href='#') Knitwear
                li.nav__item-preview
                    a(href='#') Leather Jackets
                li.nav__item-preview
                    a(href='#') Coats &amp; Jackets
                li.nav__item-preview
                    a(href='#') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='#') Tops &amp; Shirts
                li.nav__item-preview
                    a(href='#') T-Shirts
                li.nav__item-preview
                    a(href='#') Jeans
                li.nav__item-preview
                    a(href='#') Trousers &amp; Leggings
                li.nav__item-preview
                    a(href='#') Skirts &amp; Shorts
                li.nav__item-preview
                    a(href='#') Co-Ords
                li.nav__item-preview
                    a(href='#') All Shoes
                li.nav__item-preview
                    a(href='#') All Accessories
                li.nav__item-preview
                    a(href='#') Handbags
                li.nav__item-preview
                    a(href='#') Watches
                li.nav__item-preview
                    a(href='#') Jewellery
                li.nav__item-preview
                    a(href='#') Belts
                li.nav__item-preview
                    a(href='#') Face Masks
                li.nav__item-preview
                    a(href='#') Wallets
                li.nav__item-preview
                    a(href='#') Fragrance
                li.nav__item-preview
                    a(href='#') Feature: Going Places
                li.nav__item-preview
                    a(href='#') Campaign: Hope Springs Infernal
                li.nav__item-preview
                    a(href='#') A Conscious Commitment
                li.nav__item-preview
                    a(href='#') La Sessions: Tishmal
                li.nav__item-preview
                    a(href='#') Feature: Leather
                li.nav__item-preview
                    a(href='#') Edit: Logo
                li.nav__item-preview
                    a(href='#') Edit: Prints
                li.nav__item-preview
                    a(href='#') @Rubaccine
                li.nav__item-preview
                    a(href='#') Not For Sale
            ul.nav__list-preview
                p.nav-bold-border MEN
                li.nav__item-preview
                    a#nav__item-preview(href='/men/new') New Arrivals
                li.nav__item-preview
                       a#nav__item-preview(href='/men/best-seller') Best Sellers
                li.nav__item-preview
                    a(href='/men/t-shirt')  Loungewear
                li.nav__item-preview
                    a(href='/men/t-shirt') Ramskull
                li.nav__item-preview
                    a(href='/women/new') Gifts For Her
                li.nav__item-preview
                    a(href='/men/new') Gifts For Him
                li.nav__item-preview
                    a(href='/') Gift Cards
                li.nav__item-preview
                    a(href='/men/new') Sale
                li.nav__item-preview
                    a(href='/men/new') Outlet
                li.nav__item-preview
                    a(href='/men/t-shirt') T-Shirts
                li.nav__item-preview
                    a(href='/men/t-shirt') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='/men/t-shirt') Knitwear
                li.nav__item-preview
                    a(href='/men/jacket') Leather Jackets
                li.nav__item-preview
                    a(href='/men/jacket') Coats &amp; Jackets
                li.nav__item-preview
                    a(href='/men/new') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='/men/t-shirt') Shirts
                li.nav__item-preview
                    a(href='/men/t-shirt') T-Shirts
                li.nav__item-preview
                    a(href='/men/jeans') Jeans
                li.nav__item-preview
                    a(href='/men/jeans') Trousers
                li.nav__item-preview
                    a(href='/men/new')  Shorts
                li.nav__item-preview
                    a(href='/men/boots&shoes') Co-Ords
                li.nav__item-preview
                    a(href='/men/boots&shoes') All Shoes
                li.nav__item-preview
                    a(href='/men/watch') All Accessories
                li.nav__item-preview
                    a(href='/men/watch') Handbags
                li.nav__item-preview
                    a(href='/men/watch') Watches
                li.nav__item-preview
                    a(href='/') Jewellery
                li.nav__item-preview
                    a(href='/') Belts
                li.nav__item-preview
                    a(href='/') Face Masks
                li.nav__item-preview
                    a(href='/') Wallets
                li.nav__item-preview
                    a(href='/') Fragrance
                li.nav__item-preview
                    a(href='/') Feature: Going Places
                li.nav__item-preview
                    a(href='/') Campaign: Hope Springs Infernal
                li.nav__item-preview
                    a(href='/') A Conscious Commitment
                li.nav__item-preview
                    a(href='/') La Sessions: Tishmal
                li.nav__item-preview
                    a(href='/') Feature: Leather
                li.nav__item-preview
                    a(href='/') Edit: Logo
                li.nav__item-preview
                    a(href='/') Edit: Prints
                li.nav__item-preview
                    a(href='/') @Rubaccine
                li.nav__item-preview
                    a(href='/men/new') Not For Sale
            ul.nav__list-preview
                p.nav-bold-border WOMEN
                li.nav__item-preview
                    a#nav__item-preview(href='/women/new') New Arrivals
                li.nav__item-preview
                    a#nav__item-preview(href='#') Best Sellers
                li.nav__item-preview
                    a(href='#')  Loungewear
                li.nav__item-preview
                    a(href='#') Best Sellers
                li.nav__item-preview
                    a(href='#') Gifts For Her
                li.nav__item-preview
                    a(href='#') Gifts For Him
                li.nav__item-preview
                    a(href='#') Gift Cards
                li.nav__item-preview
                    a(href='#') Sale
                li.nav__item-preview
                    a(href='#') Outlet
                li.nav__item-preview
                    a(href='#') Dresses
                li.nav__item-preview
                    a(href='#') Knitwear
                li.nav__item-preview
                    a(href='#') Leather Jackets
                li.nav__item-preview
                    a(href='#') Coats &amp; Jackets
                li.nav__item-preview
                    a(href='#') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='#') Tops &amp; Shirts
                li.nav__item-preview
                    a(href='#') T-Shirts
                li.nav__item-preview
                    a(href='#') Jeans
                li.nav__item-preview
                    a(href='#') Trousers &amp; Leggings
                li.nav__item-preview
                    a(href='#') Skirts &amp; Shorts
                li.nav__item-preview
                    a(href='#') Co-Ords
                li.nav__item-preview
                    a(href='#') All Shoes
                li.nav__item-preview
                    a(href='#') All Accessories
                li.nav__item-preview
                    a(href='#') Handbags
                li.nav__item-preview
                    a(href='#') Watches
                li.nav__item-preview
                    a(href='#') Jewellery
                li.nav__item-preview
                    a(href='#') Belts
                li.nav__item-preview
                    a(href='#') Face Masks
                li.nav__item-preview
                    a(href='#') Wallets
                li.nav__item-preview
                    a(href='#') Fragrance
                li.nav__item-preview
                    a(href='#') Feature: Going Places
                li.nav__item-preview
                    a(href='#') Campaign: Hope Springs Infernal
                li.nav__item-preview
                    a(href='#') A Conscious Commitment
                li.nav__item-preview
                    a(href='#') La Sessions: Tishmal
                li.nav__item-preview
                    a(href='#') Feature: Leather
                li.nav__item-preview
                    a(href='#') Edit: Logo
                li.nav__item-preview
                    a(href='#') Edit: Prints
                li.nav__item-preview
                    a(href='#') @Rubaccine
                li.nav__item-preview
                    a(href='#') Not For Sale
            ul.nav__list-preview
                p.nav-bold-border MEN
                li.nav__item-preview
                    a#nav__item-preview(href='/men/new') New Arrivals
                li.nav__item-preview
                       a#nav__item-preview(href='/men/best-seller') Best Sellers
                li.nav__item-preview
                    a(href='/men/t-shirt')  Loungewear
                li.nav__item-preview
                    a(href='/men/t-shirt') Ramskull
                li.nav__item-preview
                    a(href='/women/new') Gifts For Her
                li.nav__item-preview
                    a(href='/men/new') Gifts For Him
                li.nav__item-preview
                    a(href='/') Gift Cards
                li.nav__item-preview
                    a(href='/men/new') Sale
                li.nav__item-preview
                    a(href='/men/new') Outlet
                li.nav__item-preview
                    a(href='/men/t-shirt') T-Shirts
                li.nav__item-preview
                    a(href='/men/t-shirt') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='/men/t-shirt') Knitwear
                li.nav__item-preview
                    a(href='/men/jacket') Leather Jackets
                li.nav__item-preview
                    a(href='/men/jacket') Coats &amp; Jackets
                li.nav__item-preview
                    a(href='/men/new') Sweatshirts &amp; Hoodies
                li.nav__item-preview
                    a(href='/men/t-shirt') Shirts
                li.nav__item-preview
                    a(href='/men/t-shirt') T-Shirts
                li.nav__item-preview
                    a(href='/men/jeans') Jeans
                li.nav__item-preview
                    a(href='/men/jeans') Trousers
                li.nav__item-preview
                    a(href='/men/new')  Shorts
                li.nav__item-preview
                    a(href='/men/boots&shoes') Co-Ords
                li.nav__item-preview
                    a(href='/men/boots&shoes') All Shoes
                li.nav__item-preview
                    a(href='/men/watch') All Accessories
                li.nav__item-preview
                    a(href='/men/watch') Handbags
                li.nav__item-preview
                    a(href='/men/watch') Watches
                li.nav__item-preview
                    a(href='/') Jewellery
                li.nav__item-preview
                    a(href='/') Belts
                li.nav__item-preview
                    a(href='/') Face Masks
                li.nav__item-preview
                    a(href='/') Wallets
                li.nav__item-preview
                    a(href='/') Fragrance
                li.nav__item-preview
                    a(href='/') Feature: Going Places
                li.nav__item-preview
                    a(href='/') Campaign: Hope Springs Infernal
                li.nav__item-preview
                    a(href='/') A Conscious Commitment
                li.nav__item-preview
                    a(href='/') La Sessions: Tishmal
                li.nav__item-preview
                    a(href='/') Feature: Leather
                li.nav__item-preview
                    a(href='/') Edit: Logo
                li.nav__item-preview
                    a(href='/') Edit: Prints
                li.nav__item-preview
                    a(href='/') @Rubaccine
                li.nav__item-preview
                    a(href='/men/new') Not For Sale
            ul.nav__list-preview
                p    A CONSCIOUS COMMITMENT
                li.nav__item-preview
                    a#nav__item-preview(href='/sustainability-information') Find Out More
                p  THE CAMPAIGN
                li.nav__item-preview
                    a#nav__item-preview(href='/collections') Discover More

